.PostList li {
    margin: 0 auto;
}

.PostList ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.posts {
    column-count: 1;
}

.PostList h2 {
    position: sticky;
    top: 0;
    padding: 16px 0;
    border-bottom: 1px solid #aaa;
    color: #0078D7;
    background-color: white;
}

@media (min-width: 720px) {
    .posts {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .posts {
        column-count: 3;
    }
}
