.PostList {
    padding: 8px 0;
}

.PostList li {
    margin: 0 auto;
}

.PostList ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.posts {
    padding: 8px;
    column-count: 1;
}

.PostList h2 {
    position: sticky;
    top: 0;
    padding: 4px 8px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    color: #0078D7;
    background-color: white;
}

@media (min-width: 1024px) {
    .PostList {
        padding: 16px 0;
    }
    
    .PostList h2 {
        padding: 8px 16px;
    }

    .posts {
        padding: 16px;
        column-count: 2;
    }
}

@media (min-width: 1440px) {
    .PostList {
        padding: 32px 0;
    }

    .PostList h2 {
        padding: 16px 32px;
    }

    .posts {
        padding: 32px;
        column-count: 3;
    }
}
